os: linux

language: python

python:
  - "3.6"

install:
  - pip install -U pip
  - travis_wait pip install --progress-bar off -r requirements.txt

script:
  - travis_wait python -m pytest --cov=./target_extraction

after_success:
  - codecov
