os: linux
sudo: required
dist: trusty
language: python
python:
  - "3.6"
install:
  - pip install -U pip
  - travis_wait pip install --progress-bar off -r requirements.txt
script:
  - python -m pytest
